<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
        {{>navbar}}
        <main>
            <form action="/otpvalidation" method="POST">
                <h1>hey this is confirm detail page</h1>
                <p>sender</p>
                <input type="text" name="senderacc" value={{senderAccountNo}}>
                <p>reciever</p>
                {{recieverAccNo}}
                <p>amount granted</p>
                {{amountPaid}}

                <button type="submit">Generate OTP</button>
            </form>

            {{!-- <form action=""></form> --}}
        </main>

</body>
</html>