<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Document</title>
    <style>
        *{
            padding:0;
            margin:0;
            box-sizing:border-box;
        }
        
        body{
            font-family: Roboto, Helvetica, sans-serif;
            background-color: #E5F0FD;
        }

        main{
            background-color: black;
        }
        .centered{
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        form{
            padding: 50px;
            border: solid;
            border-radius: 20px;
            border-width: 5px;
            border-color: #1A73E8;
            color: #093977;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        label, button{
            display: block;
        }

        button{
            text-align: center;
            background-color: #1A73E8; /* Green */
            border: none;
            border-radius: 5px;
            color: white;
            padding: 8px 16px;
            text-align: center;
            font-size: 16px;
        }

.contact-form label {
  display: block;
  margin-bottom: 10px;
}

.contact-form input{
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
}

.contact-form input:focus{
  outline: none;
  border-color: #84B3F5;
}

button{
  margin: auto;
  margin-top: 10px;
}
</style>
</head>
<body>
    {{>navbar}}
    <main>
        <form class="centered contact-form" id="login" action="/transaction" method="POST">
            <label for="email">Email:</label>
            <input id="email" name="email" type="email" required></input>
            <label for="password">Password:</label>
            <input id="password"  name='password' type="password" required></input>
            <button action="submit">Submit</button>
        </form>

    </main>
</body>
</html>