<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
    
        body {
            font-family: Roboto, Helvetica, sans-serif;
        }
    
        .centered {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    
        form {
            border: solid;
            border-color: red;
        }
    </style>
</head>
<body>
    {{>navbar}}
    <form class="centered" action="/confirmdetails" method="POST">
    <h2>from account</h2>
    <input type="number" name="accountno" value={{accountNumber}} readonly>
    <h2>to account</h2>
    <input type="text" name="toaccountno"  required>
    <h2>amout to transfered</h2>
    <input type="text" name="transferedamount" value="50000" readonly>
    <button type="submit">Confirm Details</button>
    </form>
</body>
</html>