<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    {{>navbar}}
    <h2>from account</h2>
    {{accountNumber}}
    <h2>to account</h2>
    <input type="text">
    <h2>amout to transfered</h2>
    <input type="text" value="50000">
</body>
</html>